@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.kl {
  background: linear-gradient(90deg, #cf8d7c 0%, #a77cb4 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
